<h1>Editing single donation</h1>

<%= render "form", single_donation: @single_donation %>

<br>

<div>
  <%= link_to "Show this single donation", @single_donation %> |
  <%= link_to "Back to single donations", single_donations_path %>
</div>
