<h1>Editing match donation</h1>

<%= render "form", match_donation: @match_donation %>

<br>

<div>
  <%= link_to "Show this match donation", @match_donation %> |
  <%= link_to "Back to match donations", match_donations_path %>
</div>
